*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1d061a;
  background-image: url('../img/backEnigme2.jpg'); /* Chemin vers votre image de fond */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'écran */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */

}


.erreur{
	position: absolute;
	top: 0px; 
	left: 0px;
	color:yellow;
	background-color: #000000;
	opacity: .8;
	border-radius: 10px;
	z-index: 7;
	
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Empêche le retour à la ligne */
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
  padding: 40px 0;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px; /* Marge entre les images */
  transition: 0.5s;
}

.container .box img {
  width: 100%; /* Ajuste la taille de l'image pour remplir la boîte */
  height: auto;
}

.container .box:hover {
  transform: scale(1.1); /* Zoom sur le survol */
}

.container .box:hover img {
  opacity: 0.8; /* Réduit légèrement l'opacité de l'image sur le survol */
}

.container .box span::before,
.container .box span::after {
  display: none; /* Supprime les éléments de surbrillance */
}

.container .box .content {
  position: relative;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

