body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/fondSelection.jpg'); /* Chemin vers votre image de fond */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    height: 100vh; /* Définit la hauteur de l'élément body à 100% de la hauteur de la fenêtre visible */
    display: flex; /* Utilise Flexbox pour centrer le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    color: white; /* Couleur du texte */
}

.mainContainer {
    text-align: left;
    background-color: #000;
    color: #fff;
    opacity: .5;
    padding: 20px;
    border-radius: 10px;
}

.mainContainer h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.mainContainer p {
    font-size: 1em;
}

/***********************************************/
/* Boton */
.botonAzul {
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0.5em 1.5em;
    background-color: #0099cb;
	border: none;
	color: rgb(5, 5, 5);
	text-transform: capitalize;
	margin-top: 0;


}

.botonAzul:hover,
.botonAzul:focus {
	background-color: #58BEDF;
}


#containerBoton{
    text-align: center; /* Centre le contenu horizontalement */
}
/*****************************************/


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
